.container {
  display: block;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff21;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
  color: white;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.option {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #ffffff0f;
  backdrop-filter: blur(1px);
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.option:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.option.selected {
  background-color: #ff007f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #ff007f;
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

button:disabled {
  background-color: #ffffff0f;
  backdrop-filter: blur(1px);
  cursor: not-allowed;
  backdrop-filter: blur(0px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.response-message {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.response-message.success {
  background-color: #d4edda;
  color: #155724;
}

.response-message.error {
  background-color: #f8d7da;
  color: #721c24;
}

@media (max-width: 576px) {
  .contact-container {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  input,
  textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  button {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .contact-container {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input,
  textarea {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .contact-container {
    max-width: 80%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .contact-container {
    max-width: 70%;
  }

  h1 {
    font-size: 2.2rem;
  }
}
