.slider-container {
  margin-top: 5vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0s linear;
}

.slide {
  min-width: 375px;
  text-align: center;
  padding: 5px;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

button {
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #ff007f;
  background-color: #ffffff21;
  backdrop-filter: blur(8px);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media (max-width: 768px) {
  .slide {
    min-width: 300px;
  }
}

@media (max-width: 576px) {
  .slide {
    min-width: 100%;
  }

  button {
    display: none;
  }

  .slider img {
    border-radius: 10px;
  }
}
