<div class="container">
    <h1 class="title">MIÉRT VÁLASSZ MINKET?</h1>
    <div class="highlighted-text">
        <p>
            A Social Media napjaink legnépszerűbb <br>
            sokoldalú felülete – itt töltik a legtöbb <br>
            szabadidőt az emberek, kimagaslóan a Tiktokon!
        </p>
    </div>
    <div class="description">
        <p class="custom-margin">A videós tartalmak vonzák a figyelmet, így <br>
            könnyedén bele szeretnek az adott termékbe <br>
            vagy szolgáltatásba! <br>
        </p>
        <p>A videós tartalmakat a TikTok mellett <br>
            akár Instagram és Facebook reelsben is tudod <br>
            használni/hírdetni.</p>
        <p class="custom-margin">Fiatalos, kreatív, ambíciókkal teli csapat vagyunk. <br>
            Az ötleteinket a legújabb szoftverekkel és technikai <br>
            eszközökkel hozzuk létre a te Viral videódat!
        </p>
        <p>Neked nincs más dolgod, csak elmondani pár infót, <br>
            hogy mivel foglalkozol és ki a célcsoportod. <br>
            Minden mást mi intézünk. A forgatás tervezetétől <br>
            a videók feltöltéséig mindent megoldunk!
        </p>
    </div>
</div>