<section class="container">
    <h1>HOGYAN DOLGOZUNK</h1>
    <div class="work-options">
        <div class="work ">
            <h2>FELMÉRÉS</h2>
            <p>Megbeszéljük az elképzeléseidet, <br>
                igényedet, valamint feltesszük <br>
                a kérdéseinket a céged és a <br>
                célcsoportod kapcsán.</p>
        </div>
        <div class="work">
            <p class="item1">Össze készítünk az általunk <br>
                javasolt témákból egy listát, <br>
                amiből válogathatsz, hogy <br>
                melyikből szeretnél videós tartalmat.</p>
            <h2 class="item2">ELŐKÉSZÜLET</h2>
        </div>
        <div class="work">
            <h2>FORGATÓKÖNYVÍRÁS</h2>
            <p>A kiválasztott témáknak <br>
                megírjuk a forgatókönyvét, <br>
                majd újból egyeztetünk, hogy <br>
                minden az elképzeléseid <br>
                szerint alakuljon.</p>
        </div>
        <div class="work ">

            <p class="item1">Felvétel napján a kiválasztott <br>
                témáktól függően, 2-3 órától <br>
                4-5 óráig tarthat a forgatás. <br>
                Biztosítunk minden eszközt, akár <br>
                szereplőt is, ha te nem szeretnél <br>
                szerepelni a videóidban.</p>
            <h2 class="item2">FORGATÁS</h2>
        </div>
        <div class="work">
            <h2>UTÓMUNKA</h2>
            <p class="">A forgatás után neki is állunk a <br>
                munkának. Vágunk, effektezünk <br>
                és feliratozzuk a videókat, <br>
                kérés esetén narrációt is felveszünk.</p>
        </div>
        <div class="work">

            <p class="item1">A kész videókat elküldjük <br>
                jóváhagyásra, majd kérés <br>
                esetén feltöltjük a TikTok <br>
                profilodra és szükség szerint meghirdetjük őket.</p>
            <h2 class="item2">FELTÖLTÉS, HIRDETÉS</h2>
        </div>
    </div>
</section>