.container {
    justify-content: center;
}

.logo {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

img {
    width: 25rem;
    height: 25rem;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

.tagline {
    width: 52vw;
    display: flex;
    justify-content: flex-end;
}

.tagline p {
    font-size: 3vh;
    margin: 0 0 10px 0;
    padding: 0.3rem;
    background-color: #d51087;
    border-radius: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 5px 0;
}

.highlight {
    color: #d51087;
    font-weight: bold;
    text-shadow: 0px 0px 5px grey;
}

.description {
    padding-top: 7vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
    line-height: 1.4;
    font-weight: 100;
    width: 60vw;
}

@media (max-width: 576px) {
    img {
        width: 15rem;
        height: 15rem;
    }

    .tagline {
        width: 80vw;
    }

    .tagline p {
        font-size: 2.5vh;
    }

    h3 {
        font-size: 2rem;
    }

    .description {
        font-size: 1.2rem;
        width: 90vw;
        padding-top: 5vh;
    }
}

@media (max-width: 768px) {
    img {
        width: 20rem;
        height: 20rem;
    }

    .tagline {
        width: 70vw;
    }

    .tagline p {
        font-size: 2.7vh;
    }

    h3 {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1.3rem;
        width: 80vw;
        padding-top: 6vh;
    }
}

@media (max-width: 992px) {
    img {
        width: 22rem;
        height: 22rem;
    }

    .tagline {
        width: 65vw;
        display: block;
        justify-self: center;
        text-align: center;
    }

    h3 {
        font-size: 2.8rem;
    }

    .description {
        font-size: 1.4rem;
        width: 70vw;
    }
}